aggr_spellcorrect
pylt_classifier
tensorflow
spacy
spacytextblob <= 3.0.1
scipy
sklearn
bs4
rdflib
jsonpickle
msgpack-numpy
falcon
torch
wordfreq 
pygtrie
symspellpy
autocorrect
neuspell
nltk
numpy
aenum
statistics
srsly
websockets
websocket-client
aiohttp
absl-py
keras
keras-nightly
keras-preprocessing
tensorboard-data-server
h5py
typing-extensions
six
coreferee
clint
requests
names
openpyxl
pandas
streamlit
st-annotated_text
protobuf
