awe_languagetool
awe_spellcorrect
awe_components
awe_lexica
holmes_extractor
coreferee
spacy
spacytextblob <= 3.0.1
tensorflow
scipy
sklearn
bs4
rdflib
jsonpickle
msgpack-numpy
falcon
torch
wordfreq 
pygtrie
symspellpy
autocorrect
neuspell
nltk
numpy
aenum
statistics
srsly
websockets
websocket-client
aiohttp
absl-py
keras
keras-nightly
keras-preprocessing
tensorboard-data-server
h5py
typing-extensions
six
clint
requests
names
openpyxl
pandas
streamlit
st-annotated_text
protobuf
